[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qmlcalendar
Exec=/opt/qmlcalendar/bin/qmlcalendar
Icon=/usr/share/icons/hicolor/64x64/apps/qmlcalender.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
