[Unit]
Description=Automatically update the calendar icon to show current day
After=syslog.target 

[Service]
ExecStart=/opt/qmlcalendar/bin/calenderr.sh
ExecStop=/bin/killall -9 calenderr

[Install]
WantedBy=multi-user.target

